<a href="https://colab.research.google.com/github/rlfwo93/algorism/blob/main/programmers/python/%EC%A0%95%EC%88%98%20%EB%82%B4%EB%A6%BC%EC%B0%A8%EC%88%9C%EC%9C%BC%EB%A1%9C%20%EB%B0%B0%EC%B9%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

함수 solution은 정수 n을 매개변수로 입력받습니다. 

n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요.

 예를들어 n이 118372면 873211을 리턴하면 됩니다.

제한 조건

n은 1이상 8000000000 이하인 자연수입니다.

입출력 예

n	return

118372	873211



https://programmers.co.kr/learn/courses/30/lessons/12933

In [9]:
def solution(n):
    answer = 0
    arr=[]
    while True:
        if n==0:
            break
        arr.append(str(n%10))
        n=n//10
    arr.sort(reverse=True)
    arr="".join(arr)
    return int(arr)